//@import url('https://fonts.googleapis.com/css?family=Arvo');
$orange:#df6725;
$darkOrange:#a94d1a;
$blue: #0072bc;
$darkBlue: #18345e;
$lightBlue: #9dd8ff;
$lightGrey:#ccd6df;
$smallBreakPoint: 767px;

