@import '../theme';
 
.blogs-section{
    background-color: #e0eaf3;
    h2{
        text-align: center;
        color: $blue;
    }
    .card{
        -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.20); 
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.20);
        border: 0 ;
        margin: 20px;
        .card-body{
            padding: 30px;
            color: $darkBlue;
            .card-title{
                color: $blue;
            }
        }
    }
}

@media (max-width: $smallBreakPoint) {
    div.blogs-section{
        padding-bottom: 0 !important; 
        margin-bottom: 0 !important;   
        .card{
            margin: 0;
            margin-bottom: 20px;
        }
    }   
}