table{
    td{
        background-color: white !important;
        font-weight: normal !important;
        font-size: medium !important;
        color: black !important;
    }
    th{
        padding: 15px;
    }
}